<footer class="grid">
    <div class="container flex flat">
        <p>Made By Boniface Yohann</p>
        <a href="https://github.com/Sigmanificient/somfony_test">
            <img src="/svg/github_icon.svg" height="40px" alt="Github">
        </a>
    </div>
</footer>
