<header class="grid">
    <div class="container flex">
        <a href="/">Home</a>
        <nav class="navbar flex">
            <a href="{{ path('about') }}">About</a>
        </nav>
    </div>
</header>
