<header class="grid">
    <div class="container flex">
        <a href="/">{{ 'home' | trans }}</a>
        <nav class="navbar flex">
            <a href="{{ path('about') }}">{{ 'about' | trans }}</a>
        </nav>
    </div>
</header>
