{# templates/pages/index.html.twig #}
{% extends 'layouts/base.html.twig' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1 class="title">Contact</h1>

    <div class="flex-wrapper">
        <section class="card">
            <p>
                <a href="mailto:contact@yohannboniface.dev">Mail me</a>
            </p>
        </section>
        <section class="card">
            <p>
                <a href="https://fr.linkedin.com/in/yohann-boniface/fr">LinkedIn</a>
            </p>
        </section>
    </div>

{% endblock %}
