{# templates/pages/index.html.twig #}
{% extends 'layouts/base.html.twig' %}

{% block title %}{{ 'about' | trans }}{% endblock %}

{% block content %}
    <h1 class="title">{{ 'contact' | trans }}</h1>

    <div class="flex-wrapper">
        <section class="card">
            <p>
                <a href="mailto:contact@yohannboniface.dev">{{ 'mail_me' | trans }}</a>
            </p>
        </section>
        <section class="card">
            <p>
                <a href="https://fr.linkedin.com/in/yohann-boniface/fr">LinkedIn</a>
            </p>
        </section>
    </div>

{% endblock %}
