{# templates/pages/index.html.twig #}
{% extends 'layouts/base.html.twig' %}

{% block title %}{{ 'welcome' | trans }}{% endblock %}

{% block content %}
    <h1>{{ 'hello' | trans }}</h1>
    <p>{{ 'introduction' | trans }}</p>
{% endblock %}
