$primary-color-400: #07182b;
$primary-color-500: #1e3a5a;
$primary-color-600: #304278;

$text-color: #b4d9d7;

$secondary-color-400: #6dedef;
$secondary-color-500: #45e3c6;

$transition: cubic-bezier(0.5, 0, 0.25, 1.5);
