{# templates/base.html.twig #}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=ye, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Portfolio</title>

    {% block links %}
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
    {% endblock %}
</head>
<body class="flat">
{% include 'partials/header.html.twig' %}
<main class="container flat grid">
    {% block body %}
    <div class="long-container flat grid">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
</main>
{% include 'partials/footer.html.twig' %}
</body>
{% block javascripts %}
{% endblock %}
</html>
