@use "../abstracts";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  &-track {
    background: abstracts.$primary-color-500;
  }

  &-thumb {
    background: abstracts.$primary-color-600;
  }
}

body {
  color: abstracts.$primary-color-600;
  background-color: abstracts.$primary-color-400;
}

header, footer {
  box-shadow: 0 0 0 6px;
  background-color: abstracts.$primary-color-500;
  width: 100%;
}

main {
  min-height: calc(100vh - 130px);
}
